<div class="row">
	<dt>
		<div class="col-md-1">
			<button type="radio" name="song-button" id="{{id}}"
					class="song-separator btn-rounded {{btn_class}}">
				<span class="glyphicon glyphicon-{{icon}}"></span>
			</button>
		</div>

		<div class="col-md-5 text-vertical-center">
			{{name}}-{{owner}}
		</div>
	</dt>
	<div class="col-md-6 text-vertical-center">
		<dd class="graphic-description">
			<div id="progress{{id}}"><span>0%</span></div>
		</dd>
	</div>
</div>
