<li class="list-separator">
	<div class="row">
		<div class="col-md-1">
			<button type="radio" name="song-button" id="{{id}}"
					class="song-separator btn-rounded {{btn_class}}">
				<span class="glyphicon glyphicon-{{icon}}"></span>
			</button>
		</div>

		<div class="col-md-5 text-vertical-center">
			{{name}}-{{owner}}
		</div>
	</div>
</li>
