<div class="modal fade" id="not-invited">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">You has not permission</h4>
      </div>

      <div class="modal-body">
        <p>
					Your invitation is proccessing, wait until the owner accept 
					your invitation
				</p>
      </div>

    </div>
  </div>
</div>
