<!DOCTYPE html>
<html>
<head>
  <title>NextSong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body class="red-background">
	<div class="container">
		<div class="row text-center">
			<header>
				<h1>NEXT SONG</h1>
			</header>
		</div>

		<div class="row">
			<div class="col-md-offset-3 col-md-6 white-background login-box">

				<%= yield %>
		
			</div>
		</div>

	</div>
</body>
</html>
